{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block body %}
{#    <div class="comments">#}
{#    {% if user.is_authenticated %}#}
{#        <div class="add-comment">#}
{#            <form class="form-comment" action="{% url 'post_comment' post_id=post.id %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <textarea style="width: 100%" placeholder="add-comment...." name="body" cols="40" rows="10" required="" aria-invalid="true" id="id_body"></textarea>#}
{#                <button class="bt-comment" type="submit">ADD</button>#}
{#            </form>#}
{#        </div>#}
{#         <div class="line-cm"></div>#}
{#    {% else %}#}
{#        <h3>Before you write a comment, you need to register</h3>#}
{#    {% endif %}#}
{##}
{#    {% for i in post.comments.all %}#}
{#        <div class="card-comment">#}
{#            <div class="profile">#}
{#                <div class="avatar"></div>#}
{#                <div class="name">#}
{#                    <h5>{{ i.post.author }}</h5>#}
{#                </div>#}
{#            </div>#}
{#            <div class="body">#}
{#                         <p>{{ i.content }}</p>#}
{#            </div>#}
{#            <div class="time">#}
{#                {{ i.created_at }}#}
{#            </div>#}
{#        </div>#}
{##}
{#    {% endfor %}#}
{#    </div>#}
  <div class="news-detail">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <!-- Add more details about the news post -->

    <!-- Comment form -->
    <div class="add-comment">
        <form class="form-comment" action="{% url 'post_comment' post_id=post.id %}" method="POST">
            {% csrf_token %}
            <textarea style="width: 100%" placeholder="Add a comment...." name="body" cols="40" rows="10" required="" aria-invalid="true" id="id_body"></textarea>
            <button class="bt-comment" type="submit">ADD</button>
        </form>
    </div>

    <!-- Display comments -->
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author.username }}</strong> - {{ comment.created_at }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
  </div>
{% endblock body %}