{% extends 'base.html'%}
{% block title %}
    HOME
{% endblock title %}

{% block body  %}
    <div class="box-forlastnews">
        <div class="line">
            <h3>HOT <span>NEWS</span> (last news for week)</h3>
        </div>
    </div>
    <!-- end -->
    <!-- card for news -->

    <div class="card-box">
    {% for i in news %}
        <div class="card">
            <div class="title">
                <h3><a style="color:black; text-decoration: none" href="{% url 'news_detail' id=i.id %}">{{ i.title|truncatechars:80|linebreaks }}</a></h3>
            </div>
            <div class="content">
                <p>{{ i.body|truncatechars:150 }}</p>
            </div>
            <div class="footer-card">
{#                <div style="margin-top: 10px;" class="comment">#}
{#                    <a style="margin-top: 30px; " href="{% url 'post_comment' post_id=i.id %}"><i class="far fa-comments"></i></a>#}
{#                </div>#}
                <div class="time">
                  <p style="margin-bottom: 20px;"> {{ i.created_at }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock body %}