{% extends 'base.html'%}
{% block title %}
    HOME
{% endblock title %}

{% block body  %}
    <div class="container">
            <div class="title-nw">
                <h4>{{ news_detail.title }}</h4>
            </div>
            <div class="news-body">
                <p>{{ news_detail.body }}</p>
            </div>
            <div class="author-dt">
                <p>Author: {{ news_detail.author }}</p>
                <p>{{ news_detail.created_at }}</p>
            </div>
    </div>
    <div class="line-cm"></div>
    <div class="comments">
    {% for i in news_detail.comments.all %}
        <div class="card-comment">
            <div class="profile">
                <div class="avatar"></div>
                <div class="name">
                    <h5>{{ i.post.author }}</h5>
                </div>
            </div>
            <div class="body">
                         <p>{{ i.body }}</p>
            </div>
            <div class="time">
                {{ i.created_at }}
            </div>
        </div>

    {% endfor %}
        <div class="form-comment">
            <form class="form-comment" method="POST" action="{% url 'post_comment' post_id=news_detail.id %}">
                {% csrf_token %}
                <textarea placeholder="add-comment...." name="body" cols="40" rows="10" required="" aria-invalid="true" id="id_body"></textarea>
                <button class="bt-comment" type="submit">ADD</button>
            </form>
        </div>
    </div>


{% endblock body %}