{% extends 'base.html' %}

{% block body %}
    <div class="form-addnews">
      <h2>Login</h2>
      <form class="signup-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <input placeholder="username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            <input placeholder="password" type="password" name="password" autocomplete="current-password" required="" id="id_password">
            <button type="submit">Login</button>
      </form>
    </div>
{% endblock %}
